<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Blog</title>
</head>
<body style="background: #272424; color: #ffffff;">
  <h1>Blog</h1>
  {% if messages %}
    {% for message in messages %}
      <h4 style="font-weight: 100;">{{ message }}</h4>
    {% endfor %}
  {% endif %}
  <nav>
    <ul>
      <li><a href="/account/register" style="color: lime;">Register</a></li>
      <li><a href="/account/login" style="color: lime;">Login</a></li>
      <li><a href="/account" style="color: lime;">Account</a></li>
      <li><a href="/new-post" style="color: lime;">New Post</a></li>
    </ul>
  </nav>
  <main>
    <h1 style="margin-top: 50px;">All Posts</h1>
    <hr>
    <div>
      {% for post in posts %}
        <h3 style="font-size: 20px; margin-top: 75px;">{{ post.headline }}</h3>
        <p style="font-weight: 100;">{{ post.content }}</p>
        <h5 style="font-weight: 100;">{{ post.author }}</h5>
        {% if user_id == post.author_id %}
          <a href="/edit-post/{{ post.id }}">Edit Post</a>
        {% endif %}
      {% endfor %}
    </div>
  </main>
</body>
</html>